@use "@styles/mixins.module.scss" as mixins;
@use "@styles/variables.module.scss" as variables;
.container {
    padding-top: 83px;
    .navigateSection{
      @include mixins.flex_box_custom(space-between, center, 0px);
      color: variables.$secondary_color;
      font-size: 14px;
      font-weight: 300;
      padding: 10px 0px;
    }
    .contentSection{
      @include mixins.flex_box_custom(unset, flex-start, 20px);
      .imageBox{

        max-width: 610px;
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        img{
          width: calc(100% / 2 - 10px);
          height: 350px;
          object-fit: cover;
          border-radius: 3px;
          cursor: zoom-in;
        }
      }

      .infoBox{
        flex-grow: 1;
        padding: 15px;
        h1{
          font-size: 24px;
          margin-top: 0px;
          font-weight: 400;
          color: variables.$four_color;
        }
        .price{
          font-size: 20px;
          color: variables.$secondary_color;
        }
        .titleSize{
          margin-bottom: 8px;
          font-weight: 400;
          color: variables.$thr_color;
        }
        .boxSize{
          @include mixins.flex_box_custom(flex-start, center, 10px);
          .size{
            @include  mixins.flex_box_custom(center, center, 0px);

            border: 1px solid #e1e1e1;
            font-size: 12px;
            padding: 6px 10px;
            color: variables.$thr_color;
            cursor: pointer;
          }
          .active{
            border: 1px solid #555;
          }
        }
        .clear{
          text-decoration: underline;
          cursor: pointer;
        }
        .disableSelectedBtn{
          cursor: not-allowed;
          opacity: 0.7;
        }
        .disableSelectedBtn:hover{
          background-color: #333 !important;
          color: #fff

        }
        .functionInfo{
          @include mixins.flex_box_custom(space-between, center, 20px);
          margin-top: 20px;

          .boxBtn{
            flex-grow: 1;
          }
          .incrementAmount{
            @include mixins.flex_box_custom(center, center, 0px);
            div {
              border: 1px solid #e1e1e1;
              padding: 8px 5px;
              color: variables.$secondary_color;
              cursor: pointer;
            }
            div:nth-child(2){
              padding: 8px 10px;
              color: variables.$thr_color;
              cursor: unset;
            }
          }
        }
      }
      .orFunction{
        @include mixins.flex_box_custom(center, center, 0px);
        margin: 20px 0px;
        div {
          width: 100%;
          height: 1px;
          background-color: #e1e1e1;
        }
        span {
          padding: 0px 10px;
          font-size: 12px;
          color: variables.$four_color;
        }

      }
      button {
        width: 100%;
      }
      .addFunction{
        @include mixins.flex_box_custom(unset, center, 10px);
        margin: 30px 0px;

        div {
          @include mixins.flex_box_custom(center, center, 0px);
          border: 1px solid #e1e1e1;
          border-radius: 50%;
          cursor: pointer;
          padding: 10px;
          svg {
            font-size: 30px;
          }
        }
        div:last-child{
          padding: 13px;
          svg{
            font-size: 25px;
          }
        }
      }

      .info{
        @include mixins.flex_box_custom(unset, flex-start, 10px);

        margin: 20px 0px;
        flex-direction: column;
        color: variables.$four_color;

        span{
          color: variables.$secondary_color;
        }
      }
    }

}

.containerInfo{
  font-weight: 300;
  div:last-child{
    border-bottom: unset;
    }
  .itemInfo{
    @include mixins.flex_box_custom(flex-start, center, 0px);

    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0px;

    div{
      width: 50%;
    }
    .title{
      color: variables.$secondary_color;
    }
    .content{
      color: variables.$thr_color;
    }
  }
}

.containerReview{
  .reviews{
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
  }
  .noReview{
    font-size: 14px;
    color: variables.$thr_color;
    margin-bottom: 20px;
  }
  .replyForm{
    padding-top: 30px;
    .replyTitle{
      font-size: 14px;
      margin-bottom: 14px;
      padding-bottom: 14px;
      border-bottom: 1px solid #e1e1e1;
      color: variables.$thr_color;
    }
    .commentNotes{
      font-size: 14px;
      color: variables.$thr_color;
      margin-bottom: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .commentFormCookiesConsent{
        display: flex;
        align-items: flex-start;
        gap: 5px;
        input{
          margin-top: 2px;
        }
        span{
          color: variables.$thr_color;
        }
      }
      .btnSubmit{
        width: 100%;
        max-width: 100px;

      }
    }
  }
}
.formItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  label {
    color: variables.$thr_color;
    span {
      color: #c62828;
    }
  }
  .boxItemStar {
    display: flex;
    gap: 25px;
  }
  input,textarea {
    border: 1px solid #e1e1e1;
    padding: 8px 15px;
    outline :none;
    &:focus {
      border: 1px solid variables.$secondary_color;
    }
  }
}
