@use "@styles/mixins.module.scss" as mixins;
@use "@styles/variables.module.scss" as variables;
.container{
  padding : 20px;
  .title{
    font-size: 24px;
    color: variables.$four_color;
    padding-top: 20px;
  }
  .price{
    font-size: 20px;
    color: variables.$secondary_color;
    margin: 10px 0;
  }
  .des{
    color: variables.$thr_color;
  }
  .label{
    margin-top: 10px;
    font-size: 14px;
    color: variables.$thr_color;
    margin-bottom: 5px;
  }
  .boxSize{
    @include mixins.flex_box_custom(flex_start, center, 10px);
    .size{
      padding: 9px 12px;
      border: 1px solid #e1e1e1;
      font-size: 12px;
      cursor: pointer;
    }
    .isActive{
      border: 1px solid variables.$primary_color;
    }
  }
  .boxAddToCart{
    @include mixins.flex_box_custom(flex_start, center, 10px);
    margin-top: 20px;
    select{
      width: 65px;
      height: 36px;
    }
    button{
      width: 190px;
    }
  }
  .boxOr{
    @include mixins.flex_box_custom(center, center, 10px);
    font-size: 12px;
    color: variables.$thr_color;
    margin-top: 15px;
    margin-bottom: 15px;
    .line{
      width: 100%;
      height: 1px;
      background-color: #e1e1e1;
      flex-grow: 1;
    }
  }
  .boxAddOther{
    @include mixins.flex_box_custom(flex_start, center, 10px);
    margin-top: 12px;
    color: variables.$four_color;
    cursor: pointer;
  }
  .boxFooter{
    margin-top: 12px;
    span {
      color: variables.$secondary_color;
    }
  }
}